<div id="singlePostPage" class="singlePostPageContainer" data-post-id="{{postID}}">

    <div class="singlePostPageLeftContainer">

        {{> postBase userID=../userID}}

        <div id="singlePostPageCommentInputBox" class="singlePostPageCommentInputBox">
            <div class="singlePostPageCommentInputBoxLeft"></div>
            <div class="singlePostPageCommentInputBoxCenter">

                <form method='post'
                    action='/comments'
                    id="singlePostPageCommentInputForm">
                    <label for="singlePostPageCommentInput"></label>
                    <input type='text' name='comment_body' id="singlePostPageCommentInput" class="textInputClass"
                              placeholder="Share your thoughts here" rows="1">
                    
                    <div class="singlePostPageCommentInputBottomMostButtonsContainer">
                        <button type='submit'
                                id="singlePostPageCommentInputSubmitButton"
                                class="singlePostPageCommentInputSubmitButton tabHighlightable zToolTipRelative"
                                aria-label="Submit Comment" tabindex="0">
                            <span class="zToolTip">Submit Comment</span>
                            <span class="insideTabHighlightable" tabindex="-1">
                                Submit
                            </span>
                        </button>
                    </div>
                </form>

            </div>
        </div>

        {{#if commentsTree}}
            <div id="commentFeedContainer" class="commentFeedContainer">
            <div id="commentFeed" class="commentFeed">
                {{#generateComments commentsTree}}
                {{/generateComments}}
            </div>
        </div>
        {{else}}
        <div class='noCommentsYet'> There are no comments yet... UwU </div>
        {{/if}}
    </div>

    <div class="stickySideContainer">

        {{>sideBarQuickLinks}}

        <div class="copyright">
            &copy; 2020 Chalfin, Kim, Shah
            <br/>
            All rights reserved

        </div>

        {{> sideBarBackToTopButton}}

    </div>

    {{!-- Scripts below --}}

    <script id="scriptForLikeButtons" src="../assets/js/postBaseLikeButtons.js"></script>
    <script id="scriptForDropdownMenus" src="../assets/js/postBaseDropDownMenus.js"></script>
    <script id="optionalScriptForTagContainerDragScrolling" src="../assets/js/postBaseTagDragScroll.js"></script>

    <script id="scriptForBackToTopButton" src="../assets/js/sideBarBackToTopButton.js"></script>

    {{#ifEqual postType "textPost"}}
        <script>
            {
                let postBody = document.querySelector(".postBody");
                postBody.className = postBody.className.replace(" mainFeedPostBodyClampedPreview", "");
            }
        </script>
    {{else ifEqual postType "imagePost"}}
        <script id="scriptForImagePosts" src="../assets/js/postBaseImageCarousels.js"></script>
    {{else ifEqual postType "documentPost"}}
        <script id="scriptForDocumentPosts" src="../assets/js/postBaseDocumentPosts.js"></script>
    {{else ifEqual postType "pollPost"}}
        <script id="scriptForPollPosts" src="../assets/js/postBasePolls.js"></script>
    {{/ifEqual}}

    <script id="scriptForSinglePostCommentInputForm"
            src="../assets/js/singlePostPageCommentInputForm.js"></script>
    <script id="scriptForSinglePostCommentReplies"
            src="../assets/js/singlePostCommentReplies.js"></script>
    <script id="scriptForSinglePostInlineEditPost"
            src="../assets/js/singlePostInlineEditPost.js"></script>

</div>